PORT=8000
NODE_ENV="development"
COMMON_RATE_LIMIT_WINDOW_MS="1000"
COMMON_RATE_LIMIT_MAX_REQUESTS="30"
CORS_ORIGIN="http://localhost:5173"
DATABASE_URL="postgresql://<user>:<password>@<host>:<port>/<dbname>?sslmode=require"   